#inicio{        
    -fx-background-image: url("casa.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-radius:50;
}

#bar{-fx-background-color:#4b77be ;}

#imagen{
	-fx-background-image: url("../Imagenes/oralhealth_mejor_dentista_peru.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 90%;
}

#hyperlink{
	-fx-text-fill:#ffffff;
	-fx-text-size:100px;
}

#Consulta{
    -fx-background-image:url("consulta.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-radius:50;
}
#ayuda{
    -fx-background-image:url("ayuda.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-radius:50;
}
#configuracion{
    -fx-background-image:url("ajustes.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-radius:50;    
}
#chat{
    -fx-background-image:url("chat.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-radius:50;   
}
#buscar{
    -fx-background-image:url("buscar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-radius:50;   
}
#agenda{
    -fx-background-image:url("agenda.png");
    background-color: #f0f0f0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80%;
    -fx-background-radius:50;   
}